@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: linear-gradient(135deg, #1a1f28 0%, #161b23 50%, #0f1419 100%);
  ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #1a1f28 0%, #161b23 50%, #0f1419 100%);
    ;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}