.features {
  display: flex;
  align-items: stretch;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  height: 180px;
  width: 180px;
  opacity: 0.9;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .featureSvg {
    height: 140px;
    width: 140px;
  }
}